/*

    _variables.scss establece nombre de estilos para ser llamados por nombre de variables personalizado

*/

// Colores
$fuente_principal : "Montserrat", sans-serif, normal;
$skyblue: #6CABDD; // Principal City
// $skyblue: #3c6bb9; // darkblue
$navyblue: #00205B; // Azul oscuro City
// $verde:#4CB8B3; // Panel header y un fondo de sección
// $rosa: #F53756; // Fondo de parrafo, fondo de sección y fondo footer
// $morado: #752F97; // Overlay del video y botón
$rojo: #EC3325; // Color de la rosa del escudo
$titulo_video: #212f4a;
$subtitulo_video: #467dca;
$negro: #000000;
$blanco: #FFFFFF;

// Media Queries 
$telefono: 380px; // 480px
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px; 