/*

	_footer.scss pie de página de la página

*/

@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
	background-color: v.$navyblue;
	padding: 2rem 0; // Si no se aplica esta etiqueta queda en blanco una franja anterior y posterior a la etiqueta
	// height: 15rem;

	p {
		color: v.$blanco;
		text-align: center;
		margin: 1.2rem;
		font-size: 1.7rem;
		font-weight: 700;
	}

}