/*

	_galeria.scss estilos para galeria de proyectos

*/

@use "base/variables" as v;
@use "base/mixins" as m;

.mis-proyectos {

	@include m.contenedor;

	.proyectos {

		@include m.telefono {
			@include m.grid(1);
		}

		@include m.tablet {
			@include m.grid(1, 5rem);
		}		

		@include m.desktop {
			@include m.grid(2, 5rem);
		}

		.proyecto {
			display: inline-block;
			opacity: 0.99;
			overflow: hidden;
			position: relative;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.25); 

			img {
				display: block;
				max-width: 100%;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
			}

			.details {
				font-size: 16px;
				padding: 20px;
				color: #fff;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 3;
			}
			.details span {
				display: block;
				opacity: 0;
				position: relative;
				top: 100px;
				transition-property: top, opacity;
				transition-duration: 0.3s;
				transition-delay: 0s;
			}
			.details .title {
				line-height: 1;
				font-weight: 600;
				font-size: 18px;
			}
			.details .info {
				line-height: 1.2;
				margin-top: 5px;
				font-size: 12px;
			}

			&:before {
				content: "";
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
				width: 100%;
				height: 50%;
				opacity: 0;
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 2;
				transition-property: top, opacity;
				transition-duration: 0.3s;
			}

			&:focus:before, 
			&:focus span, 
			&:hover:before, 
			&:hover span {
			  opacity: 9;
			}

			&:focus:before, 
			&:hover:before {
			  top: 50%;
			}

			&:focus span, 
			&:hover span {
			  top: 0;
			}

			&:focus .title, 
			&:hover .title {
			  transition-delay: 0.15s;
			}

			&:focus .info, 
			&:hover .info {
			  transition-delay: 0.25s;
			}

		}

	}

}

.modal {
	display: grid; // Centrar imagen del modal
	place-items: center; // horizontal y vertical
	position: fixed; // Un elemento fijo, incluso en scroll
	inset: 0; // contempla toda la pantalla
	margin:0;

	img { // Ancho máximo de la imagen en Modal
		max-width: 120rem;
		height: 835px;
	    object-fit: cover;
	    object-position: 0% 0%;
	}

	background-color: rgba(v.$negro, 0.5); // Darle el findo negro claro transparente 
	animation: fadeIn ease-in 0.5s; // generar una aninación al abrir el modal: nombre animación, tipo animación, tiempo. Requiere definir @keyframes

	.agrupar-botones {
		display: flex;
		gap: 2rem;
	}

		.btn {
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			font-size: 1.5rem;
			color: v.$negro;
			font-weight: 600;
			background-color: v.$blanco;
			border: none; // quitar efecto de bajada y subida del botón
			display: grid;
			place-items: center;
			cursor: pointer;
		}	

}

.modal-fade-out { // Añadir efecto animación al cerrar el modal. Requiere definir @keyframes
	animation: fadeOut ease-in 0.5s;
}	

@keyframes fadeIn { // Permite definir una linea de tiempo
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut { // Permite definir una linea de tiempo
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}