/*

	_sobre-mi.scss aplicación de estilos a la sección sobre mi

	*/

	@use "base/variables" as v;
	@use "base/mixins" as m;

	.sobre-mi {

		@include m.tablet { // Evitar distorción de la imagen cuando llega a tamaño tablet se posiciona 1/2 de izquierda a derecha
			display: grid;
    		grid-template-columns: 1fr 1fr; // Establece un un posicionamiento de 1/3 a la izquierda y 2/3 a la derecha
    		column-gap: 2rem; // Seperación 
		}

		@include m.desktop {
			display: grid;
    		grid-template-columns: 1fr 2fr; // Establece un un posicionamiento de 1/3 a la izquierda y 2/3 a la derecha
    		column-gap: 2rem; // Seperación 
		}

	    .imagen-sobre-mi {

	    	display: flex; // Display para centrar la imagen
	    	align-items: center; // Centrado flex horizontal
	    	justify-content: center; // Centrado flex vertical

	    	@include m.tablet { // Estilos a imagen unicamente cuando estoy en tamaño desktop
	    		img {
					// Template, código para poner circular la imagen con un sombra
					width: 300px;
					height: 300px;
					border-radius: 50%;
					box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
				}	
			}

	    	@include m.desktop { // Estilos a imagen unicamente cuando estoy en tamaño desktop
	    		img {
					// Template, código para poner circular la imagen con un sombra
					width: 320px;
					height: 320px;
					border-radius: 50%;
					box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
				}	
			}
		}

	.contenido-sobre-mi {
		padding-top: 2rem;

		h2 {
			margin-bottom: 2rem;

		}

		p {
			text-align: justify;

		}

		.titulo-sobre-mi {
			color: v.$navyblue;
			font-weight: 700;
			font-size: 2.3rem;

		}
	}
}
